.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 10px;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  body {
    font-size: 14px;
  }
}
